<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slider</title>
    <link rel="stylesheet" href="slider.css">
    
</head>
<body>

    <div class="slider-container">  
<div class="slider">
    <div class="slides">
        <div class="slide"><img src="https://avatars.mds.yandex.net/i?id=c0e11a1cf155d0759e31fa7388935714617777be-9832347-images-thumbs&n=13" alt="Slide 1"></div>
        <div class="slide"><img src="https://avatars.mds.yandex.net/i?id=867c9b41d7f0ccf12e3e51a483daf16dc2dc4204-5582331-images-thumbs&n=13" alt="Slide 2"></div>
        <div class="slide"><img src="https://avatars.mds.yandex.net/i?id=867c9b41d7f0ccf12e3e51a483daf16dc2dc4204-5582331-images-thumbs&n=13" alt="Slide 2"></div>
        <div class="slide"><img src="https://avatars.mds.yandex.net/i?id=ffd94091df1f0afc5c329c9fe45962564e77e5c5-12391133-images-thumbs&n=13"></div>
    </div>
</div>
</div>

<script src="slider.js"></script>

</body>
</html>
