.slider-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/946215395724480419/F133591A886A59F11ACB007D8917427FB1FCA483/?imw=512&amp;imh=384&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    

}

.slider {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    margin: 12px;
}

.controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.control {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.control:hover {
    opacity: 1;
}