<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Page</title>
    <link rel="stylesheet" href="navbar.css">
    <style>

    </style>
</head>
<body>
    <nav class="navbar">
        <a href="#" class="brand"> Shubham-watch </a>
        <span class="menu-toggle">☰</span>
        <div class="menu">
            <a href="">Home</a>
            <a href="../../page/loginpage/login.html">login</a>
            <a href="../../page/servicespage/service.html">Services</a>
            <a href="../../page/contactpage/contac.html">Contact</a>
        </div>
    </nav>

  <script src="navbar.js"></script>
</body>

</html>
