* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    width:100vw
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.navbar a:hover {
    color: #ff9800;
}

.menu {
    display: flex;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        margin-top: 232px;
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        /* top: 50px; */
        right: 20px;
        
        border-radius: 5px;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu a {
        margin: 10px;
        text-align: center;
    }
}